<%= PageTitle title: t("collections.general.edit"), breadcrumbs: {
      Collection.model_name.human(count: 100) => collections_path,
      @collection.name => collection_path(@collection)
    } %>

<% if SiteSettings.federation_enabled? %>
  <p><small>⁂ <%= @collection.federails_actor&.at_address %></small></p>
<% end %>

<%= render "form" %>
