<div class="row">
  <div class="col">
    <h1>Collections</h1>
  </div>
  <div class="col col-auto">
    <%= link_to "View unassigned", models_path(collection: ""), class: "btn btn-outline-secondary" %>
  </div>
</div>


<div class="row row-cols-2">
  <div class="col-9">
    <div class="row  row-cols-1 row-cols-md-2 row-cols-lg-3 mb-3">
	      <%= render partial: 'collection', collection: @collections %>
    </div>
  </div>
  <% if current_user.pagination_settings["collections"] %>
    <%= paginate @collections %>
  <% end %>
</div>
