<h1><%= @collection.name.titleize %></h1>

<ul>
	<% Model.tagged_with(@collection, context: :collection).each do |model| %>
		<li><%= link_to model.name, library_model_path(model.library, model) %></li>
	<% end %>
</ul>
