<%= cocooned_item :li, class: "mb-2 input-group" do %>
  <span>
    <% if f.object.listable.is_a? Model %>
      <%= link_to f.object.listable.name, model_path(f.object.listable) %>
    <% end %>
  </span>
  <%= cocooned_remove_item_button Icon(icon: "trash", label: translate("components.lists_card.remove")), f, class: "btn btn-outline-danger" %>
<% end %>
