<%= PageTitle title: List.model_name.human(count: 100) %>

<div id="lists">
  <ul>
    <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list %>
      </li>
    <% end %>
  </ul>
</div>

<%= GoButton(icon: "plus-circle", label: t("lists.new.title"), href: new_list_path, variant: "primary") %>
