---
http_interactions:
- request:
    method: get
    uri: https://api.thingiverse.com/users/floppy_uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <THINGIVERSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      speculation-rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: UTF-8
      string: '{"id":3154799,"name":"floppy_uk","first_name":"James","last_name":"Smith","full_name":"James
        Smith","email":"","url":"https:\/\/api.thingiverse.com\/users\/floppy_uk","public_url":"https:\/\/www.thingiverse.com\/floppy_uk","thumbnail":"https:\/\/cdn.thingiverse.com\/assets\/04\/b8\/80\/49\/bd\/sketch_head.PNG","bio":"Amateur
        3D printer, and creator of [Manyfold](https:\/\/manyfold.app).","level":10,"bio_html":"<div><p>Amateur
        3D printer, and creator of <a rel=\"nofollow\" href=\"https:\/\/manyfold.app\">Manyfold<\/a>.<\/p><\/div>","location":"UK","country":"United
        Kingdom","registered":"2019-11-11T23:03:19+00:00","last_active":"2025-07-08T14:26:58+00:00","cover_image":"https:\/\/cdn.thingiverse.com\/site\/img\/default\/cover\/cover-4_preview_birdwing.jpg","things_url":"https:\/\/api.thingiverse.com\/users\/floppy_uk\/things","copies_url":"https:\/\/api.thingiverse.com\/users\/floppy_uk\/copies","likes_url":"https:\/\/api.thingiverse.com\/users\/floppy_uk\/likes","printers":[{"id":41367,"name":"Ender
        3 Pro","public_url":null}],"programs":[],"types":[{"id":7,"name":"Maker"}],"skill_level":"","accepts_tips":false,"groups":[],"website":"https:\/\/floppy.org.uk","twitter":null,"count_of_followers":32,"count_of_following":20,"count_of_designs":13,"collection_count":18,"make_count":7,"like_count":33,"has_favorite":false,"favorite_count":0,"is_admin":false,"is_moderator":false,"is_featured":false,"is_verified":false,"is_following":false}'
  recorded_at: Tue, 08 Jul 2025 14:27:07 GMT
recorded_with: VCR 6.3.1
