<td><%= icon("files-alt", t(".title")) %></td>
<td><%= link_to problem.problematic.name, problem.problematic, class: "link-body-emphasis" %></td>
<td><%= t ".title" %></td>
<td><%= link_to "Open", problem.problematic, class: "btn btn-primary" %></td>
