<% content_for :breadcrumbs do %>
  <nav aria-label="Breadcrumb" class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to @model.name, @model %></li>
      <% if @file %>
        <li class="breadcrumb-item">
          <%= link_to @file.name, [@model, @file] %>
        </li>
      <% end %>
    </ol>
  </nav>
<% end %>
