---
http_interactions:
- request:
    method: get
    uri: https://api.thingiverse.com/collections/16696069
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <THINGIVERSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      speculation-rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: UTF-8
      string: '{"id":16696069,"name":"Printer Upgrades","description":"Parts for my
        printers, either an Ender 3 Pro, or an original Elegoo Mars.","description_html":"<div><p>Parts
        for my printers, either an Ender 3 Pro, or an original Elegoo Mars.<\/p><\/div>","added":"2019-11-11T23:05:01+00:00","modified":"2025-07-08T14:35:32+00:00","creator":{"id":3154799,"name":"floppy_uk","first_name":"James","last_name":"Smith","url":"https:\/\/api.thingiverse.com\/users\/floppy_uk","public_url":"https:\/\/www.thingiverse.com\/floppy_uk","thumbnail":"https:\/\/cdn.thingiverse.com\/assets\/04\/b8\/80\/49\/bd\/sketch_head.PNG","count_of_followers":32,"count_of_following":20,"count_of_designs":13,"collection_count":18,"make_count":7,"accepts_tips":false,"is_following":false,"location":"UK","cover":"https:\/\/cdn.thingiverse.com\/site\/img\/default\/cover\/cover-4_preview_large.jpg","is_admin":false,"is_moderator":false,"is_featured":false,"is_verified":false},"url":"https:\/\/api.thingiverse.com\/collections\/16696069","count":47,"is_editable":false,"is_liked":false,"is_watched":false,"featured_thing_id":0,"preview_image":"https:\/\/cdn.thingiverse.com\/assets\/bd\/4f\/b3\/09\/87\/card_preview_double_funnel.png","absolute_url":"https:\/\/www.thingiverse.com\/floppy_uk\/collections\/16696069\/things","is_featured":false,"featured_thing":null,"thumbnail":"https:\/\/cdn.thingiverse.com\/assets\/68\/d2\/60\/b3\/1e\/medium_preview_double_funnel.png","thumbnail_1":"https:\/\/cdn.thingiverse.com\/renders\/5a\/81\/d6\/71\/1d\/2a7f49557e5fcd2fbd4384d30649b8dd_preview_medium.jpg","thumbnail_2":"https:\/\/cdn.thingiverse.com\/assets\/12\/ef\/ae\/5f\/cf\/medium_preview_DiskMount.png","thumbnail_3":"https:\/\/cdn.thingiverse.com\/assets\/53\/97\/2b\/af\/65\/medium_preview_IMG_3594.JPG","thumbnail_4":"https:\/\/cdn.thingiverse.com\/assets\/8d\/be\/8e\/04\/97\/medium_preview_IMG_20200508_173324.jpg"}'
  recorded_at: Fri, 18 Jul 2025 13:20:56 GMT
- request:
    method: get
    uri: https://api.thingiverse.com/collections/16696069/things
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <THINGIVERSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      link:
      - <https://api.thingiverse.com/collections/16696069/things?page=2>; rel="next",
        <https://api.thingiverse.com/collections/16696069/things>; rel="first", <https://api.thingiverse.com/collections/16696069/things?page=2>;
        rel="last"
      total-count:
      - '47'
      speculation-rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: UTF-8
      string: '[{"id":4763554,"name":"Double Funnel for IPA Filtering and Recycling","url":"https:\/\/api.thingiverse.com\/things\/4763554","public_url":"https:\/\/www.thingiverse.com\/thing:4763554","created_at":"2021-02-15T15:56:36+00:00","thumbnail":"https:\/\/cdn.thingiverse.com\/assets\/ae\/38\/6a\/49\/be\/medium_thumb_double_funnel.png","preview_image":"https:\/\/cdn.thingiverse.com\/assets\/bd\/4f\/b3\/09\/87\/card_preview_double_funnel.png","creator":{"id":3142606,"name":"MetalGearSortof","first_name":"","last_name":"","url":"https:\/\/api.thingiverse.com\/users\/MetalGearSortof","public_url":"https:\/\/www.thingiverse.com\/MetalGearSortof","thumbnail":"https:\/\/cdn.thingiverse.com\/assets\/58\/98\/71\/8b\/dd\/MGS_3_Snake_Avatar_7.png","count_of_followers":6,"count_of_following":0,"count_of_designs":11,"collection_count":1,"make_count":16,"accepts_tips":true,"is_following":false,"location":"TN","cover":"https:\/\/cdn.thingiverse.com\/assets\/3a\/dc\/f1\/51\/e3\/samus_vs_link.jpg","is_admin":false,"is_moderator":false,"is_featured":false,"is_verified":false},"is_private":0,"is_purchased":0,"is_published":1,"is_featured":false,"is_edu_approved":null,"is_printable":false,"is_winner":false,"allows_derivatives":true,"comment_count":17,"make_count":0,"like_count":148,"tags":[{"name":"double","tag":"double","url":"https:\/\/api.thingiverse.com\/tags\/double","count":511,"things_url":"https:\/\/api.thingiverse.com\/tags\/double\/things","absolute_url":"\/tag:double"},{"name":"filter","tag":"filter","url":"https:\/\/api.thingiverse.com\/tags\/filter","count":3208,"things_url":"https:\/\/api.thingiverse.com\/tags\/filter\/things","absolute_url":"\/tag:filter"},{"name":"Funnel","tag":"funnel","url":"https:\/\/api.thingiverse.com\/tags\/funnel","count":2014,"things_url":"https:\/\/api.thingiverse.com\/tags\/funnel\/things","absolute_url":"\/tag:Funnel"},{"name":"IPA","tag":"ipa","url":"https:\/\/api.thingiverse.com\/tags\/ipa","count":37,"things_url":"https:\/\/api.thingiverse.com\/tags\/ipa\/things","absolute_url":"\/tag:IPA"},{"name":"isopropyl
        alcohol","tag":"isopropyl_alcohol","url":"https:\/\/api.thingiverse.com\/tags\/isopropyl_alcohol","count":84,"things_url":"https:\/\/api.thingiverse.com\/tags\/isopropyl_alcohol\/things","absolute_url":"\/tag:isopropyl_alcohol"},{"name":"resin","tag":"resin","url":"https:\/\/api.thingiverse.com\/tags\/resin","count":1940,"things_url":"https:\/\/api.thingiverse.com\/tags\/resin\/things","absolute_url":"\/tag:resin"},{"name":"resin
        printer","tag":"resin_printer","url":"https:\/\/api.thingiverse.com\/tags\/resin_printer","count":863,"things_url":"https:\/\/api.thingiverse.com\/tags\/resin_printer\/things","absolute_url":"\/tag:resin_printer"}],"is_nsfw":null,"is_ai":false,"rank":null,"collect_count":426,"moderation":"","is_banned":false,"needs_moderation":0,"is_decoy":0,"is_comments_disabled":false},{"id":3768132,"name":"Elegoo
        Mars Backplate ","url":"https:\/\/api.thingiverse.com\/things\/3768132","public_url":"https:\/\/www.thingiverse.com\/thing:3768132","created_at":"2019-07-24T20:46:43+00:00","thumbnail":"https:\/\/cdn.thingiverse.com\/renders\/3b\/3c\/75\/20\/f0\/1e59449dd9ea410396066e939f2aaceb_thumb_medium.jpg","preview_image":"https:\/\/cdn.thingiverse.com\/renders\/3b\/3c\/75\/20\/f0\/1e59449dd9ea410396066e939f2aaceb_preview_card.jpg","creator":{"id":1844913,"name":[...]
