---
http_interactions:
- request:
    method: get
    uri: https://www.myminifactory.com/api/v2/objects/9999999999999?key=<MYMINIFACTORY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Node-Id:
      - fbd7db759be9369382ef5c08e6abb1c6
    body:
      encoding: ASCII-8BIT
      string: '{"type":"https:\/\/tools.ietf.org\/html\/rfc2616#section-10","title":"An
        error occurred","status":404,"detail":"Not Found","error":"not_found","error_description":"Object
        Not Found"}'
  recorded_at: Tue, 29 Jul 2025 16:23:33 GMT
recorded_with: VCR 6.3.1
