---
http_interactions:
- request:
    method: get
    uri: https://www.myminifactory.com/api/v2/objects/2052?key=<MYMINIFACTORY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-node-id:
      - e8feecb7d1b25c44a9b0afec2ad51c26
    body:
      encoding: ASCII-8BIT
      string: '{"id":2052,"url":"https:\/\/www.myminifactory.com\/object\/3d-print-michelangelo-s-david-in-florence-italy-2052","name":"David","visibility":2,"visibility_name":"public","listed":true,"status":2,"status_name":"approved","description":"\u00a0  \u201cWhen
        all was finished, it cannot be denied that this work has carried off the palm
        from all other statues, modern or ancient, Greek or Latin; no other artwork
        is equal to it in any respect, with such just proportion, beauty and excellence
        did Michelagnolo finish it\u201d.\u00a0-\u00a0Giorgio Vasari  Better than
        anyone else, Giorgio Vasari introduces in a few words the marvel of one of
        the greatest masterpieces ever created by mankind[...]
