version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  groups:
    uppy:
      patterns:
        - "@uppy/*"
    babel:
      patterns:
        - "@babel/*"
    zxcvbn:
      patterns:
        - "@zxcvbn-ts/*"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
