<div class="col mb-4">
  <div class="card">
    <div id="preview-part-<%= part.id %>" class="card-img-top">
    </div>
    <script>
      var scene = new THREE.Scene();
      var camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);

      var renderer = new THREE.WebGLRenderer();
      renderer.setSize(200, 150);
      document.getElementById("preview-part-<%= part.id %>").appendChild(renderer.domElement);

      var geometry = new THREE.BoxGeometry(1, 1, 1);
      var material = new THREE.MeshLambertMaterial({
        color: 0x00ff00
      });
      var cube = new THREE.Mesh(geometry, material);
      scene.add(cube);

      camera.position.z = 5;

      const light = new THREE.AmbientLight(0x404040); // soft white light
      scene.add(light);

      const directionalLight = new THREE.DirectionalLight(0xffffff, 0.5);
      scene.add(directionalLight);

      var animate = function() {
        requestAnimationFrame(animate);

        cube.rotation.x += 0.01;
        cube.rotation.y += 0.01;

        renderer.render(scene, camera);
      };

      animate();
    </script>
    <div class="card-body">
      <h5 class="card-title"><%= part.filename %></h5>
      <%= link_to "Download", library_model_part_path(@library, @model, part, part.file_format.to_sym), {class: "btn btn-primary"} %>
    </div>
  </div>
</div>
