<div class="col mb-4">
  <div class="card">
    <div id="preview-part-<%= part.id %>" class="card-img-top" data-preview data-preview-url=""s>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= part.filename %></h5>
      <%= link_to "Download", library_model_part_path(@library, @model, part, part.file_format.to_sym), {class: "btn btn-primary"} %>
    </div>
  </div>
</div>
