<div class="row mb-3 input-group">
  <label for="tags" class="col-sm-2 col-form-label"><%= label %></label>
  <div class="form-control col-auto tag-container">
    <%= form.text_field :tags,
      as: :string,
      name: :tags,
      value: value
    %>
  </div>
</div>
