<div>
  <%= form.label label %>
</div>
<div class="form-control tag-container">
  <%= form.collection_select :tag_list, tags,
        :name, :name, {
          selected: defined?(selected) ? selected : nil
        }.compact, {
          multiple: true,
          class: "form-select",
          name: name ? "#{name}[]" : nil,
          data: {controller: "tag-input", action: "turbo:morph@window->tag-input#reconnect"}
        } %>
</div>
