<%= form.label label, class: "col-form-label " %>
<div class="form-control tag-container">
  <%= form.collection_select :tag_list, tags,
        :name, :name, {}, {
          multiple: true,
          class: "form-select",
          name: name ? "#{name}[]" : nil,
          data: {selectize: "true"}
        } %>
</div>
