# MULTIUSER: enabled
# REGISTRATION: enabled
# For details of other optional environment variables, including features such
# as multiuser mode, visit https://manyfold.app/sysadmin/configuration.html
