<% content_for :breadcrumbs do %>
  <nav aria-label="Breadcrumb" class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to t(".applications"), doorkeeper_applications_path %></li>
      <% if @application&.persisted? %>
        <li class="breadcrumb-item">
          <%= link_to @application.name, @application %>
        </li>
      <% end %>
    </ol>
  </nav>
<% end %>
