<%= form.fields_for :pagination_settings do |pagination_settings_form| %>
  <div class="card mb-2">
    <h3 class="card-header"><%= t(".heading") %></h3>
    <div class="card-body tabular-form">
      <div>
        <%= pagination_settings_form.label :per_page, t(".per_page.label"), class: "col-form-label" %>
      </div>
      <div>
        <%= pagination_settings_form.number_field :per_page, value: pagination_settings["per_page"], in: 1..100, class: "form-control" %>
      </div>
    </div>
  </div>
<% end %>
