---
http_interactions:
- request:
    method: get
    uri: https://api.thingiverse.com/things/5993539
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <THINGIVERSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"id":5993539,"name":"BLTouch Mount for Creality Sprite Extruder (Mod
        of Bilbs84 project)","thumbnail":"https:\/\/cdn.thingiverse.com\/assets\/95\/77\/b5\/29\/31\/large_display_4a45092e-4832-4b2b-91f9-e99793b0f2f4.png","url":"https:\/\/api.thingiverse.com\/things\/5993539","public_url":"https:\/\/www.thingiverse.com\/thing:5993539","creator":{"id":2598137,"name":"phuzzyday","first_name":"Phillip","last_name":"Davis","url":"https:\/\/api.thingiverse.com\/users\/phuzzyday","public_url":"https:\/\/www.thingiverse.com\/phuzzyday","thumbnail":"https:\/\/cdn.thingiverse.com\/site\/img\/default\/avatar\/avatar_default_thumb_medium.jpg","count_of_followers":1,"count_of_following":1,"count_of_designs":7,"collection_count":2,"make_count":2,"accepts_tips":false,"is_following":false,"location":"","cover":"https:\/\/cdn.thingiverse.com\/site\/img\/default\/cover\/cover-2_preview_large.jpg","is_admin":false,"is_moderator":false,"is_featured":false,"is_verified":false},"added":"2023-04-27T04:09:42+00:00","modified":"2023-04-27T04:09:42+00:00","is_published":1,"is_wip":0,"is_featured":false,"is_nsfw":false,"is_ai":false,"is_winner":false,"is_edu_approved":false,"is_printable":false,"like_count":11,"is_liked":false,"collect_count":23,"is_collected":false,"comment_count":0,"is_watched":false,"default_image":{"id":19193578,"url":"https:\/\/cdn.thingiverse.com\/assets\/29\/08\/99\/88\/05\/4a45092e-4832-4b2b-91f9-e99793b0f2f4.stl","name":"4a45092e-4832-4b2b-91f9-e99793b0f2f4.png","sizes":[{"type":"thumb","size":"large","url":"https:\/\/cdn.thingiverse.com\/assets\/c8\/50\/4a\/c3\/94\/large_thumb_4a45092e-4832-4b2b-91f9-e99793b0f2f4.png"},{"type":"thumb","size":"medium","url":"https:\/\/cdn.thingiverse.com\/assets\/3d\/79\/82\/6c\/9d\/medium_thumb_4a45092e-4832-4b2b-91f9-e99793b0f2f4.png"},{"type":"thumb","size":"small","url":"https:\/\/cdn.thingiverse.com\/assets\/cc\/da\/c9\/7a\/60\/small_thumb_4a45092e-4832-4b2b-91f9-e99793b0f2f4.png"},{"type":"thumb","size":"tiny","url":"https:\/\/cdn.thingiverse.co[...]
