---
http_interactions:
- request:
    method: get
    uri: https://api.thingiverse.com/things/4049220
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <THINGIVERSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      speculation-rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: UTF-8
      string: '{"id":4049220,"name":"Slatwall support","thumbnail":"https:\/\/cdn.thingiverse.com\/assets\/e3\/bc\/80\/9f\/87\/large_display_Slatwall_support.stl","url":"https:\/\/api.thingiverse.com\/things\/4049220","public_url":"https:\/\/www.thingiverse.com\/thing:4049220","creator":{"id":3154799,"name":"floppy_uk","first_name":"James","last_name":"Smith","url":"https:\/\/api.thingiverse.com\/users\/floppy_uk","public_url":"https:\/\/www.thingiverse.com\/floppy_uk","thumbnail":"https:\/\/cdn.thingiverse.com\/assets\/04\/b8\/80\/49\/bd\/sketch_head.PNG","count_of_followers":32,"count_of_following":20,"count_of_designs":13,"collection_count":18,"make_count":7,"accepts_tips":false,"is_following":false,"location":"UK","cover":"https:\/\/cdn.thingiverse.com\/site\/img\/default\/cover\/cover-4_preview_large.jpg","is_admin":false,"is_moderator":false,"is_featured":false,"is_verified":false},"added":"2019-12-14T20:50:10+00:00","modified":"2019-12-14T20:50:10+00:00","is_published":1,"is_wip":0,"is_featured":false,"is_nsfw":false,"is_ai":false,"is_winner":false,"is_edu_approved":false,"is_printable":false,"like_count":2,"is_liked":false,"collect_count":10,"is_collected":false,"comment_count":0,"is_watched":false,"default_image":{"id":12250747,"url":"https:\/\/cdn.thingiverse.com\/assets\/62\/09\/06\/48\/fa\/Slatwall_support.stl","name":"Slatwall_support.png","sizes":[{"type":"thumb","size":"large","url":"https:\/\/cdn.thingiverse.com\/assets\/48\/33\/76\/10\/2a\/large_thumb_Slatwall_support.stl"},{"type":"thumb","size":"medium","url":"https:\/\/cdn.thingiverse.com\/assets\/36\/44\/9e\/83\/e2\/medium_thumb_Slatwall_support.stl"},{"type":"thumb","size":"small","url":"https:\/\/cdn.thingiverse.com\/assets\/bf\/38\/c4\/75\/7c\/small_thumb_Slatwall_support.stl"},{"type":"thumb","size":"tiny","url":"https:\/\/cdn.thingiverse.com\/assets\/91\/3d\/55\/06\/aa\/tiny_thumb_Slatwall_support.s[...]
