<h3><%= t(".title") %></h3>

<p>
  <%= Federails::Moderation::Report.human_attribute_name(:federails_actor) %>:
  <%= @report.reporter_address %>
</p>

<blockquote>
  <%= @report.content %>
</blockquote>
