<div class="mb-3">
  <%= form.submit translate("problems.index.bulk_resolve"), name: "resolve", class: "btn btn-danger", data: {confirm: translate("problems.index.bulk_confirm")} %>
  <%= form.submit translate("problems.index.bulk_ignore"), name: "ignore", class: "btn btn-secondary" %>
</div>
