<h1>Problems</h1>
<p class='lead'><%= pluralize @problems.count, "problem" %> found</p>

<table class="table table-striped">
	<% @problems.each do |problem| %>
		<tr>
			<td><%= problem.category %></td>
			<td><%= problem.problematic.name %></td>
		</tr>
	<% end %>
</table>
