<h1>Problems</h1>

<table class="table table-striped">
	<% @problems.each do |problem| %>
		<tr class="table-<%= problem_severity(problem) %>">
			<%= render partial: "#{problem.problematic_type.underscore}_#{problem.category}", locals: {problem: problem} %>
		</tr>
	<% end %>
</table>

<%= paginate @problems %>
