<h1>Problems</h1>
<p class='lead'><%= pluralize @problems.count, "problem" %> found</p>

<table class="table table-striped">
	<% @problems.each do |problem| %>
		<tr>
			<%= render partial: "#{problem.problematic_type.underscore}_#{problem.category}", locals: {problem: problem} %>
		</tr>
	<% end %>
</table>
