---
http_interactions:
- request:
    method: post
    uri: https://cults3d.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query GraphQL__Client__OperationDefinition_21696 {\n  user(nick:
        \"ThisUserDoesNotExist\") {\n    nick\n    bio\n    url\n  }\n}","operationName":"GraphQL__Client__OperationDefinition_21696","variables":{}}'
    headers:
      Authorization:
      - Basic <CULTS3D_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bccfa9d7d069d86a4e5ec455bbd5d967"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '2025-07-29T16:23:00.385988Z'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":null}}'
  recorded_at: Tue, 29 Jul 2025 16:22:31 GMT
recorded_with: VCR 6.3.1
