---
http_interactions:
- request:
    method: post
    uri: https://cults3d.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query GraphQL__Client__OperationDefinition_21336 {\n  user(nick:
        \"CreativeTools\") {\n    nick\n    bio\n    url\n  }\n}","operationName":"GraphQL__Client__OperationDefinition_21336","variables":{}}'
    headers:
      Authorization:
      - Basic <CULTS3D_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f67a284e5f1f1b7c356632731624a8ab"
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '59'
      x-ratelimit-reset:
      - '2025-07-16T11:22:30.095412Z'
    body:
      encoding: UTF-8
      string: '{"data":{"user":{"nick":"CreativeTools","bio":"Creative Tools supplies
        software, hardware and training in all things 3D - such as 3D modelling, animation,
        rendering, workstations, 3D scanners and 3D printers.\r\nWeb: http://creative-tools.com\r\nTwitter:
        https://twitter.com/CreativeTools","url":"https://cults3d.com/en/users/CreativeTools"}}}'
  recorded_at: Wed, 16 Jul 2025 11:22:23 GMT
recorded_with: VCR 6.3.1
