---
http_interactions:
- request:
    method: post
    uri: https://cults3d.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query GraphQL__Client__OperationDefinition_21328 {\n  user(nick:
        \"CreativeTools\") {\n    nick\n    bio\n  }\n}","operationName":"GraphQL__Client__OperationDefinition_21328","variables":{}}'
    headers:
      Authorization:
      - Basic <CULTS3D_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"08703e107dd8ff9b1138713cfc34f252"
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '58'
      x-ratelimit-reset:
      - '2025-07-10T16:15:00.574130Z'
    body:
      encoding: UTF-8
      string: '{"data":{"user":{"nick":"CreativeTools","bio":"Creative Tools supplies
        software, hardware and training in all things 3D - such as 3D modelling, animation,
        rendering, workstations, 3D scanners and 3D printers.\r\nWeb: http://creative-tools.com\r\nTwitter:
        https://twitter.com/CreativeTools"}}}'
  recorded_at: Thu, 10 Jul 2025 16:14:50 GMT
recorded_with: VCR 6.3.1
