---
http_interactions:
- request:
    method: post
    uri: https://cults3d.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query GraphQL__Client__OperationDefinition_20832 {\n  user(nick:
        \"CreativeTools\") {\n    nick\n    bio\n    url\n    imageUrl\n  }\n}","operationName":"GraphQL__Client__OperationDefinition_20832","variables":{}}'
    headers:
      Authorization:
      - Basic <CULTS3D_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d078080b457fc92e7b0737c543390472"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '2025-09-23T15:37:30.816208Z'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":{"nick":"CreativeTools","bio":"Creative Tools supplies
        software, hardware and training in all things 3D - such as 3D modelling, animation,
        rendering, workstations, 3D scanners and 3D printers.\r\nWeb: http://creative-tools.com\r\nTwitter:
        https://twitter.com/CreativeTools","url":"https://cults3d.com/en/users/CreativeTools","imageUrl":"https://images.cults3d.com/UUTTixazzr68WqITVWeTPUdyRBY=/120x120/https://fbi.cults3d.com/uploads/user/avatar/133/Creative_Tools_-_Logotype_-_Color__800_x_800_pixels_.jpg"}}}'
  recorded_at: Tue, 23 Sep 2025 15:37:20 GMT
recorded_with: VCR 6.3.1
