<%= link_to "Rescan", library_path(@library), method: :patch, class: 'float-end btn btn-warning' %>
<h1><%= @library.name %></h1>
<div class="row row-cols-2 row-cols-md-4 mb-4">
  <% @library.models.each do |model| %>
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= model.name %></h5>
          <%= link_to "Open", [@library, model], {class: "btn btn-primary"} %>
        </div>
      </div>
    </div>
  <% end %>
</div>
