<%- if current_user.has_quota? %>
  <div class="card">
    <h2 class="card-header">
      <%= Icon icon: "upload" %>
      <%= t ".title" %>
    </h2>

    <div class="card-body">
      <p>
        <%= t ".quota", quota: number_to_human_size(current_user.quota) %>
      </p>
    </div>

  </div>
<% end %>
