<div class="container">
  <%= PageTitle title: site_name %>

  <article>
    <%= markdownify SiteSettings.about if SiteSettings.about.present? %>

    <% if SiteSettings.rules.present? %>
      <h2><%= t("settings.appearance.rules.label") %></h2>
      <div class="alert alert-warning">
        <%= markdownify(SiteSettings.rules) %>
      </div>
    <% end %>

  </article>
</div>
