---
http_interactions:
- request:
    method: get
    uri: https://www.myminifactory.com/api/v2/users/Scan%20The%20World/collections/non-existent-collection?key=<MYMINIFACTORY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Node-Id:
      - 76a936272ea6e3129c5a0a13742ac407
    body:
      encoding: ASCII-8BIT
      string: '{"type":"https:\/\/tools.ietf.org\/html\/rfc2616#section-10","title":"An
        error occurred","status":404,"detail":"Not Found","error":"not_found","error_description":"Collection
        not found."}'
  recorded_at: Tue, 29 Jul 2025 16:24:55 GMT
recorded_with: VCR 6.3.1
