---
http_interactions:
- request:
    method: get
    uri: https://www.myminifactory.com/api/v2/users/Scan%20The%20World/collections/sutton-hoo-artifacts?key=<MYMINIFACTORY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-node-id:
      - fbd7db759be9369382ef5c08e6abb1c6
    body:
      encoding: ASCII-8BIT
      string: '{"id":1174566,"name":"Sutton Hoo Artifacts","slug":"sutton-hoo-artifacts","url":"https:\/\/www.myminifactory.com\/users\/Scan%20The%20World\/collection\/sutton-hoo-artifacts","owner":{"id":20099,"username":"Scan
        The World","name":"Scan The World","is_admin":true,"is_premium":true,"is_store_manager":true,"isHobbyHunterPicked":false,"is_campaign_manager":true},"featured":false,"is_public":true,"public":true,"created_at":"2021-11-17T10:35:11+00:00","description":"","position":50,"obj_img":["https:\/\/dl.myminifactory.com\/object-assets\/58513d1d9af90\/images\/230X230-1000x1000-fb794251c0ee07c5b0c5962016149121af98eac7.jpg","https:\/\/dl.myminifactory.com\/object-assets\/584e9885d7d0b\/images\/230X230-1000x1000-87e3e0b7344f503fd30ba2f1cf3259a05e2f8213.jpg","https:\/\/dl2.myminifactory.com\/object-assets\/615c4f8e34834\/images\/230X230-sutton-hoo-belt-gold.jpg","https:\/\/dl.myminifactory.com\/object-assets\/585146f9bba0e\/images\/230X230-194a5a0cdafddd8ee6a3bd38bc5ae707fd799ee6.jpg"],"total_objects":18,"objects":{"total_count":18,"items":[{"id":26231,"url":"https:\/\/www.myminifactory.com\/object\/3d-print-sutton-hoo-gold-coin-16-26231","name":"Sutton
        Hoo Gold Coin 16","visibility":2,"visibility_name":"public","listed":true,"status":2,"status_name":"approved","description":"The
        purse found among the burial goods at Sutton Hoo contained 37 gold coins,
        three coin-shaped blanks, and two small gold ingots. The\u00a0coins\u00a0cannot
        be dated precisely, but seem to have been deposited at some point after AD
        610 and before about AD 635. They were all minted in the kingdom of the Merovingian
        Franks in continental Europe. These coins are crucial to understanding the
        burial at Sutton Hoo, as they provide strong clues about when the ship and
        its contents were deposited.","description_html":"\u003Cp\u003E\u003Ca href=\u0022\/pages\/support-scan-the-world\u0022
        target=\u0022_blank\u0022 rel=\u0022noopener noreferrer\u0022\u003E\u003Cimg
        src=\u0022\/uploads\/tinymce-images\/support.png\u0022 alt=\u0022\u0022 \/\u003E\u003C\/a\u003E\u003C\/p\u003E\u003Cp
        style=\u0022text-align: justify;\u0022\u003EThe purse found among the burial
        goods at Sutton Hoo contained 37 gold coins, three coin-shaped blanks, and
        two small gold ingots. The\u0026nbsp;coins\u0026nbsp;cannot be dated precisely,
        but seem to have been deposited at some point after AD 610 and before about
        AD 635. They were all minted in the kingdom of the Merovingian Franks in continental
        Europe. These coins are crucial to understanding the burial at Sutton Hoo,
        as they provide strong clues about when the ship and its contents were deposited.\u003C\/p\u003E","printing_details":"ok","printing_details_html":"ok","featured":false,"support":true,"complexity":0,"complexity_name":null,"dimensions":"50\u00d750\u00d76","material_quantity":"5","images":[{"id":157187,"upload_id":null,"is_primary":true,"original":{"url":"https:\/\/dl.myminifactory.com\/object-assets\/58513d1d9af90\/images\/1000x1000-fb794251c0ee07c5b0c5962016149121af98eac7.jpg","width":null,"height":null},"tiny":{"url":"https:\/\/dl.myminifactory.com\/object-assets\/58513d1d9af90\/images\/70X70-1000x1000-fb794251c0ee07c5b0c5962016149121af98eac7.jpg","width":70,"height":70},"thumbnail":{"url":"https:\/\/dl.myminifactory.com\/object-assets\/58513d1d9af90\/images\/230X230-1000x1000-fb794251c0ee07c5b0c5962016149121af98eac7.jpg","width":230,"height":230},"standard":{"url":"https:\/\/dl.myminifactory.com\/object-assets\/58513d1d9af90\/images\/720X720-1000x1000-fb794251c0ee07c5b0c5962016149121af98eac7.jpg","width":720,"height":720},"large":{"url":"https:\/\/dl.myminifactory.com\/object-assets\/58513d1d9af90\/images\/1000X1000-1000x1000-fb794251c0ee07c5b0c5962016149121af98eac7.jpg","width":1000,"height":1000},"is_print_image_selected":null},{"id":155153,"upload_id":null,"is_primary":false,"original":{"url":"https:\/\/dl.myminifactory.com\/object-assets\/58513d1d9af90\/images\/back.jpg","width":0,"height":0},"tiny":{"url":"https:\/\/dl.myminifactory.com\/object-assets\/58513d1d9af90\/images\/70X70-back.jpg","width":70,"height":70},"thumbnail":{"url":"https:\/\/dl.myminifactory.com\/object-assets\/58513d1d9af90\/images\/230X230-back.jpg","width":230,"height":230},"standard":{"url":"https:\/\/dl.myminifactory.com\/object-assets\[...]
