---
http_interactions:
- request:
    method: get
    uri: https://thangs.com/api/models/29638
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-thangs-api-version:
      - va3e2492
      x-response-time:
      - 815ms
      x-cloud-trace-context:
      - 603fd055cd29e6f519856a2230acbd8b
      last-modified:
      - Fri, 11 Jul 2025 11:09:25 GMT
    body:
      encoding: UTF-8
      string: '{"id":"29638","name":"CHEP Cube - Calibration Cube","parts":[{"name":"CHEP
        Cube - Calibration Cube","filename":"d939b82f-8144-40e7-9650-0b34577e1a01/CHEPCalibrationCube.stl","isPrimary":true,"updatingUser":"CHEP","lastVersioned":"2021-10-17T15:14:57.49947+00:00","partIdentifier":"a78f2e4b6b5c5cc65eeac01910fe438a","originalFileName":"CHEPCalibrationCube.stl","phyndexerId":"f6e2b000-4b2e-4ffa-aef9-e9287f961a7f","thumbnailUrl":"https://storage.googleapis.com/thangs-thumbnails/production/d939b82f-8144-40e7-9650-0b34577e1a01/CHEPCalibrationCube.png","viewerUrl":"https://storage.googleapis.com/thangs-thumbnails/production/d939b82f-8144-40e7-9650-0b34577e1a01/CHEPCalibrationCube.scs","dracoGlbUrl":"https://storage.googleapis.com/gcp-and-physna.appspot.com/uploads/models/d939b82f-8144-40e7-9650-0b34577e1a01/CHEPCalibrationCube-draco.glb?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=api-platform%40gcp-and-physna.iam.gserviceaccount.com%2F20250711%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20250711T110924Z&X-Goog-Expires=3600&X-Goog-SignedHeaders=host&X-Goog-Signature=1b8a184a55f7169fc7af66e689fa20da393a172e1b39493c4661e26c12caca192765ca735950188bb214c98d0319241a43a6a4a33e6a0d47c922fd3d32a151b1aceb30721a5808224550c375f60edb5d137346f83b57a67921a1a0d01932465da7e5286b580bd51ed9ec937e995f6c162734bef7e4512a8c3476f39ea19efd9da20bfe82aff49e0cfe4f78b58affb7e5bd3ea1ed5120923deb048ac2b812957844bb1fec834e29c8f8cd3ca80f0c5027f30adf9aab970ff3902284f03441b2d30fa16356971e5f44a3cc4e7ae25bb94879b801b7f95856fef278c4b3d1f48c71af8a922d1f329795043f2d008a9717cca29d46aa979a1856d40dcc90563f74fe"}],"units":"mm","license":"d939b82f-8144-40e7-9650-0b34577e1a01/LICENSE.txt","folderId":null,"isPublic":true,"isAssembly":false,"description":"Model
        originally uploaded to Thingiverse at https://www.thingiverse.com/thing:3189377.\n\nI
        designed my own 20mm x 20mm x 20mm Calibration Cube in Tinkercad so I had
        my own test print for reference.\r\nI call it the CHEP Cube. \r\nIt’s become
        a popular print for many people and it’s fun to see where it turns up. \r\n\r\nThe
        Images are from a print on my Ender 3.\r\n\r\nI added two images printed at
        0.12 using my CHEP 0.12 profile.\r\nhttps://www.chepclub.com/cura-profiles.html","accessTypeId":0,"dependencies":[],"internalTags":["Business
        & Industrial","Business Services","Office Supplies","Computers & Electronics","Computer
        Hardware","Computer Peripherals"],"updatingUser":"CHEP","v2Categories":["3D
        Printers/Creality"],"lastVersioned":"2023-11-17T01:28:31.215+00:00","internalCategory":"Business
        & Industrial","owner":{"id":240257,"username":"CHEP","firstName":"Chuck","lastName":"H","fullName":"Chuck
        H","profile":{"avatarUrl":"https://storage.googleapis.com/production-thangs-public/uploads/avatars/fae149da-90ac-4f8a-acd4-8dd4ce718431","description":"","publicProfileSettings":[]},"isBeingFollowedByRequester":false},"created":"2021-10-17T15:14:57.499Z","published":"2021-10-17T15:14:57.499Z","likesCount":327,"commentsCount":3,"downloadCount":7879,"viewCount":14601,"likes":[4419962,4347601,4310575,1094253,3737640,3726016,576126,3358336,3285838,3260392,3216198,1798786,1068808,2853289,1282874,1215858,2449591,2444031,1110429,2284393,1979571,502568,1936779,1904706,1874967,1704744,1683700,1755473,1570485,1655015,1332758,1591397,1046703,1564230,704465,1338882,743687,1538949,1520922,1487973,1492357,1496759,1454015,1425244,1437067,1433789,1422729,1421757,1415798,1419509,1408319,1405350,1356429,1401355,1397287,1382692,372677,1367263,1363566,1362441,1307622,148611,1334638,8[...]
