<div class="card mb-2">
  <h3 class="card-header"><%= t(".title") %></h3>
  <div class="card-body">
    <p class='lead'>
      <%= t(".description") %>
    </p>
    <% Problem::CATEGORIES.each do |category| %>
      <% next if Problem::DEFAULT_SEVERITIES[category].nil? # Skip deprecated categories; they don't appear in the defaults list %>
      <div class="grid">
        <%= form.label nil, t("problems.categories.%{c}" % {c: category}),
              for: "problems[#{category}]",
              class: "col col-form-label" %>
        <div class="col">
          <%= form.select "problems[#{category}]",
                Problem::SEVERITIES.map { |s| [t("problems.severities.%{s}" % {s: s}), s] },
                {selected: @user.problem_severity(category)},
                class: "form-select" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
