img.avatar {
	width: 4rem;
	object-fit: cover;
	aspect-ratio: 1;
	clip-path: circle();

	&.avatar-sm {
		width: 2rem;
	}

	&.avatar-lg {
		width: 6rem;
	}
}

// Let's have hexagon avatars in the Vapor theme, just for fun!
body.vapor-theme img.avatar {
	aspect-ratio: 0.8660254;
	clip-path: polygon(0% 25%, 0 74%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}
