.tabular-form {
	display: grid;
	grid-template-columns: minmax(min-content, max-content) auto;
	gap: 1em;

	div:has(input[type=submit]),
	div:has(button[type=submit]) {
		grid-column: 2;
	}

	table,
	hr,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul {
		grid-column: span 2;
	}

}
