env: &env
  adapter: <%= ENV.fetch("DATABASE_ADAPTER", "postgresql") %>
  host: <%= ENV.fetch("DATABASE_HOST", nil) %>
  port: <%= ENV.fetch("DATABASE_PORT", nil) %>
  database: <%= ENV.fetch("DATABASE_NAME", "manyfold") %>
  username: <%= ENV.fetch("DATABASE_USER", nil) %>
  password: <%= ENV.fetch("DATABASE_PASSWORD", nil) %>
  pool: 999
  timeout: <%= ENV.fetch("DATABASE_TIMEOUT", 5000) %>
  # SQLite production config
  # This is default in Rails 7.2, so once we upgrade, we can remove it
  default_transaction_mode: IMMEDIATE


development:
  <<: *env
  adapter: sqlite3
  database: db/development.sqlite3

test:
  <<: *env
  adapter: sqlite3
  database: db/test.sqlite3

production:
  <<: *env
