<div class="row">
  <div class="col">
    <h1>Creators</h1>
  </div>
  <div class="col col-auto">
    <%= link_to "View unassigned", models_path(creator: "nil"), class: "btn btn-outline-secondary" %>
  </div>
  <div class="col col-auto">
    <%= link_to "New Creator", new_creator_path, class: "btn btn-primary" %>
  </div>
</div>

<div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 mb-3" data-masonry='{"percentPosition": true }'>
      <%= render @creators %>
  </div>
  <% if current_user.pagination_settings["creators"] %>
    <%= paginate @creators %>
  <% end %>
</div>
