<h1><%= @creator.name %></h1>

<div class="row row-cols-2">
  <div class="col-9">
    <div class="row row-cols-2 row-cols-md-3 mb-3">
      <%= render partial: 'libraries/model', collection: @models %>
    </div>
  </div>
  <div class="col-3">
    <ul>
      <% @creator.links.each do |link| %>
        <li><%= link_to link.url, link.url %></li>
      <% end %>
    </ul>

    <%= link_to "Edit", edit_creator_path(@creator) %>
  </div>
</div>
