<h3><%= t(".title") %></h3>

<%= form_with model: [:settings, @domain_block], class: "tabular-form" do |form| %>

  <%= text_input_row form, :domain # i18n-tasks-use t("activerecord.attributes.federails/moderation/domain_block.domain") %>

  <div>
    <%= form.submit translate(".submit"), class: "btn btn-primary" %>
  </div>

<% end %>
