// Stylesheet for Components::Comment

div.comment-component,
div.new-comment-form-component {
  @extend .card;
  @extend .mb-3;

  .comment-header {
    @extend .card-header;
    display: flex;
    width: 100%;

    .comment-header-links {
      font-size: small;
      text-align: end;
      flex-grow: 1;
    }
  }

  .comment-body {
    @extend .card-body;
  }

  .comment-footer {
    @extend .card-footer;
  }

  .comment-time {
    font-style: italic;
    font-size: small;
  }
}

div.new-comment-form-component {
  @extend .border-secondary;

  .comment-header {
    @extend .text-bg-secondary;
  }

  .comment-body>textarea {
    border: none;
  }

  .comment-footer>input {
    @extend .btn;
    @extend .btn-secondary;
  }
}
