$color-mode-type: media-query;
$table-bg-scale: -90%;

$breadcrumb-margin-bottom: 0;

@import 'bootstrap/scss/bootstrap';

$bootstrap-icons-font-dir: "../fonts" !default;
@import 'bootstrap-icons/font/bootstrap-icons';

$ra-font-path: "../fonts" !default;
@import '@infinizhen/rpg-awesome-continued/scss/rpg-awesome-continued';

@import 'src/layout';
@import 'src/libraries';
@import 'src/models';
@import 'src/model_files';
@import 'src/effects';
@import 'src/altcha';
@import 'src/avatars';
@import 'src/forms';

@import 'tom-select/dist/css/tom-select.bootstrap5';
@import 'src/tom-select-prefers-color-scheme-dark';

@import '@uppy/core/dist/style.min';
@import '@uppy/dashboard/dist/style.min';

@import "driver.js/dist/driver";

.ts-control {
	padding: 1px;
}

p.alert:empty,
p.notice:empty {
	display: none;
}

.button_to,
.button_to .div {
	display: inline;
}

.creator-card {
	height: 100%;
}

#navbar>ul.navbar-nav>li>a.nav-link {
	color: var(--bs-navbar-hover-color) !important;
}

span.obfuscated {
	-webkit-text-security: disc;
}

span.deobfuscated {
	-webkit-text-security: none;
}
