$color-mode-type: media-query;
$table-bg-scale: -90%;

@import 'bootstrap/scss/bootstrap';

$bootstrap-icons-font-dir: "../fonts" !default;
@import 'bootstrap-icons/font/bootstrap-icons';

$ra-font-path: "../fonts" !default;
@import '@infinizhen/rpg-awesome-continued/scss/rpg-awesome-continued';

@import 'src/layout';
@import 'src/libraries';
@import 'src/models';
@import 'src/model_files';
@import 'src/effects';
@import 'src/altcha';
@import 'src/avatars';

@import 'tom-select/dist/css/tom-select.bootstrap5';

@import '@uppy/core/dist/style.min';
@import '@uppy/dashboard/dist/style.min';

@import 'src/dark-theme-overrides';

.ts-control {
	padding: 1px;
}

p.alert:empty,
p.notice:empty {
	display: none;
}

.button_to,
.button_to .div {
	display: inline;
}

form.tabular-form {
	display: grid;
	grid-template-columns: max-content auto;
	gap: 1em;

	div:has(input[type=submit]) {
		grid-column: 2;
	}
}
