.skip-link {
	position: absolute;
	width: 100%;
	z-index: 9999999; // so many Zs
	transform: translateY(-100%);
	transition: transform 0.2s ease-out;

	&:focus-within {
		transform: translateY(0%);
	}
}

.skip-link-container {
	overflow-y: hidden;
	position: relative;
}

.grid-2-auto {
	grid-template-columns: auto auto;
}

.grid-4-auto {
	grid-template-columns: auto auto auto auto;
}
