// Place all the styles related to the Files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.object-preview {
  aspect-ratio: 1;
  width: 100%;
  touch-action: none;
}

.object-preview-progress {
  width: 80%;
  height: 3em;
  z-index: 2;
  cursor: pointer;

  .progress-label {
    width: 100%
  }

}

.preview-card {
  overflow: hidden;
}

.card-img-top-background {
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  filter: blur(10px) brightness(0.95);
}

.image-preview {
  position: absolute;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
}
