// Place all the styles related to the Files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.object-preview {

  .progress {
    width: 80%;
    height: 3em;
    z-index: 2;
    cursor: pointer
  }

  aspect-ratio: 1;
}

.image-preview {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}
