// Place all the styles related to the Parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.part-preview {

  .progress {
    width: 80%
  }

  canvas {
    width: 100%;
    z-index: 10000;
  }

}
