<%- follow = activity.entity %>

<tr>
  <td></td>
  <td>
    <% if follow.actor.entity == current_user %>
      You
    <% else %>
      <%= follow.actor.name %>
    <% end %>
    followed
    <%= link_to follow.target_actor.name, follow.target_actor.entity %>
  </td>
  <td></td>
  <td>
    <small><%= t("home.index.how_long_ago", time: time_ago_in_words(follow.created_at)) %></small>
  </td>
</tr>
