<div class="col-9">
  <div class="row row-cols-2 align-items-baseline">
    <% if !current_page?(root_path) %>
      <div class="ms-auto col col-auto mt-2 mb-2">
        <%= link_to "#{icon('book', 'Sort by Name')}".html_safe, @filters.merge(order: "name"), class: "btn #{session["order"] == "name" ? "btn-secondary" : "btn-outline-secondary"} btn-sm" %>
        <%= link_to "#{icon('clock', 'Sort by Time')}".html_safe, @filters.merge(order: "recent"), class: "btn #{session["order"] == "recent" ? "btn-secondary" : "btn-outline-secondary"} btn-sm" %>
      </div>
    <% end %>
  </div>
</div>
