<% unless links.empty? %>
  <%= card :secondary, t(".link_card_heading") do %>
    <ul class='links'>
      <% links.each do |link| %>
        <li><%= link_to t("sites.%{site}" % {site: link.site}), link.url %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
