<div class="row mb-3 input-group nested-fields">
  <%= f.label :url, class: "col-sm-2 col-form-label" %>
  <%= f.url_field :url, class: "form-control col-auto", placeholder: "Any related web page" %>
  <%= link_to_remove_association icon(:trash, "Delete"), f, class: "btn btn-outline-danger col-auto" %>
</div>
