<div class="col mb-4">
  <div class="card">
    <% if part = model.preview_part %>
      <div class="card-img-top">
        <%= render partial: "part_preview", locals: { part: part } %>
      </div>
    <% end %>
    <div class="card-body">
      <%= link_to "Open", [model.library, model], {class: "btn btn-primary float-end"} %>
      <h5 class="card-title"><%= model.name %></h5>
      <% if @creator.nil? && model.creator %>
        <small>by <%= link_to model.creator.name, model.creator %></small>
      <% end %>
    </div>
  </div>
</div>
