<div class="float-end mb-3">
  <%= link_to icon("book", t(".sort.name")), {order: "name"}.merge(@filter&.to_params), class: "btn #{(session["order"] == "name") ? "btn-secondary" : "btn-outline-secondary"} btn-sm" %>
  <%= link_to icon("clock", t(".sort.time")), {order: "recent"}.merge(@filter&.to_params), class: "btn #{(session["order"] == "recent") ? "btn-secondary" : "btn-outline-secondary"} btn-sm" %>
</div>
