<div class="float-end mb-3">
  <div class="btn-group">
    <button type="button" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-sm dropdown-toggle">
      <%= Icon(icon: "sort-down") %>
      <%= t ".sort-by" %>
    </button>
    <ul class="dropdown-menu">
      <%= DropdownItem icon: "sort-alpha-down", label: t(".title"), path: url_for({order: "name", direction: "asc"}.merge(@filter&.to_params)), active: session["order"] == "name" %>
      <%= DropdownItem icon: "sort-numeric-down-alt", label: t(".created"), path: url_for({order: "recent", direction: "desc"}.merge(@filter&.to_params)), active: session["order"] == "recent" %>
    </ul>
  </div>
</div>
