<div class="float-end mb-3">
  <%= link_to safe_join([Icon(icon: "arrow-up"), "A-Z"]), {order: "name"}.merge(@filter&.to_params), class: "btn #{(session["order"] == "name") ? "btn-primary" : "btn-secondary"} btn-sm", title: t(".sort.name") %>
  <%= link_to safe_join([Icon(icon: "arrow-down"), Icon(icon: "calendar-date")]), {order: "recent"}.merge(@filter&.to_params), class: "btn #{(session["order"] == "recent") ? "btn-primary" : "btn-secondary"} btn-sm", title: t(".sort.time") %>
</div>
