<% if can_preview?(part.file_format) %>
  <div id="preview-part-<%= part.id %>" class="part-preview position-relative" data-preview>
    <div class="progress position-absolute top-50 start-50 translate-middle">
      <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
    <canvas class="position-relative"
      data-preview-url="<%= library_model_part_path(library, model, part, part.file_format.to_sym)%>"
      data-format="<%= part.file_format %>"
      data-y-up="<%= part.y_up %>"  >
    </canvas>
  </div>
<% end %>
