<% unless tags.empty? %>
  <%= card :secondary, "Tags" do %>
    <% if current_user.tag_cloud_settings["keypair"] %>
      <% plaintags = tags.select{|obj| !obj.name.include?(":") } %>
      <% tiertags = tags.select{|obj| obj.name.include?(":") } %>
      <% tiers = tiertags.map(&:name).map {|tag| tag.split(":").first}.uniq.sort %>
      <% tags = plaintags %>
    <% end %>
    <% tags.each do |tag| %>
      <%= render partial: 'tag', locals: {tag: tag, state: (defined?(muted_tags) && muted_tags.include?(tag) ? (current_user.tag_cloud_settings["hide_unrelated"] ? :hide : :mute) : :normal)} %>
    <% end %>
    <% if current_user.tag_cloud_settings["keypair"] %>
      <ul class="list-unstyled">
        <% tiers.each do |tier| %>
          <%= content_tag(:li, content_tag(:details,
            content_tag(:summary,tier)+tiertags.select{|obj| obj.name.match?("^#{tier}:")}
              .map{|tag| render partial: 'tag', locals: {
                tag: tag,
                state: (defined?(muted_tags) && muted_tags.include?(tag)) ? (current_user.tag_cloud_settings["hide_unrelated"] ? :hide : :mute) : :normal
              }}.join.html_safe+(link_to "missing", models_path((@filters||{}).merge(missingtag: tier)), { class: "badge rounded-pill border border-muted text-danger tag" }),id: tier)).html_safe %>
        <% end %>
      </ul>
    <% end %>
    <% if defined?(muted_tags) && !muted_tags.empty? && current_user.tag_cloud_settings["hide_unrelated"]%>
      <p class="small"><%= pluralize(muted_tags.count, "unrelated tag") %> hidden</p>
    <% end %>
  <% end %>
<% end %>
