---
http_interactions:
- request:
    method: post
    uri: https://cults3d.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query GraphQL__Client__OperationDefinition_23248 {\n  creation(slug:
        \"404benchy\") {\n    name\n    description\n    license {\n      spdxId\n    }\n    safe\n    tags\n    illustrationImageUrl\n    illustrations
        {\n      imageUrl\n    }\n    creator {\n      nick\n      bio\n      url\n    }\n  }\n}","operationName":"GraphQL__Client__OperationDefinition_23248","variables":{}}'
    headers:
      Authorization:
      - Basic <CULTS3D_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6559afa3f73666c4458c19b33c7068eb"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '2025-07-29T16:20:30.573389Z'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"creation":null}}'
  recorded_at: Tue, 29 Jul 2025 16:20:11 GMT
recorded_with: VCR 6.3.1
