---
http_interactions:
- request:
    method: post
    uri: https://cults3d.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query GraphQL__Client__OperationDefinition_21424 {\n  creation(slug:
        \"3dbenchy-the-jolly-3d-printing-torture-test\") {\n    name\n    description\n    license
        {\n      spdxId\n    }\n    safe\n    tags\n    illustrationImageUrl\n    illustrations
        {\n      imageUrl\n    }\n    creator {\n      nick\n      bio\n      url\n      imageUrl\n    }\n  }\n}","operationName":"GraphQL__Client__OperationDefinition_21424","variables":{}}'
    headers:
      Authorization:
      - Basic <CULTS3D_BASIC_AUTH>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bd018e6ce4c44b3bb54f93c24f7bb453"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '2025-09-23T15:39:30.643040Z'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"creation":{"name":"Benchy - The jolly 3D printing torture-test","description":"3DBenchy
        is a 3D model specifically designed for testing and benchmarking 3D printers.
        It is a small recognizable object that you can download for free, make and
        share.\r\n\r\nPlease visit http://3DBenchy.com for more information.\r\n\r\nVIDEO:
        \r\nhttps://youtu.be/_epwuDI9FBI\r\nhttps://www.youtube.com/watch?v=hlATeBRlB9E\r\n\r\nFollow
        the #3DBenchy boat on ...\r\n\r\n- ... Youtube https://Youtube.com/c/3dbenchy
        \r\n- ... Instagram http://instagram.com/3dbenchy \r\n- ... Pinterest https://pinterest.com/3dbenchy/3dbenchy/
        \r\n- ... Tumblr http://3dbenchy.tumblr.com \r\n- ... Twitter https://twitter.com/3dbenchy
        \r\n- ... Facebook https://www.facebook.com/3DBenchy/ \r\n- ... Google+ https://plus.google.com/+3dbenchy
        \r\n- ... Flickr https://www.flickr.com/photos/3dbenchy/ \r\n- ... Wikipedia
        https://en.wikipedia.org/wiki/3DBenchy","license":{"spdxId":"CC-BY-ND-4.0"},"safe":true,"tags":["3dbenchy","benchy","3d
        print","3d-print","3d-printing","3d printing","3dprinting","print","torture
        test","torture-test","benchmark","benchmarking","bench-mark","bench-marking","measure","calibrate","dimension","tolerance"],"illustrationImageUrl":"https://images.cults3d.com/DGze-O1vr45ET9Y4dPn24-lWGl0=/516x516/filters:no_upscale()/https://fbi.cults3d.com/uploaders/133/illustration-file/1428782346-8151-9279/_1__3D-printed__3DBenchy_by_Creative-Tools.com.JPG","illustrations":[{"imageUrl":"https://images.cults3d.com/DGze-O1vr45ET9Y4dPn24-lWGl0=/516x516/filters:no_upscale()/https://fbi.cults3d.com/uploaders/133/illustration-file/1428782346-8151-9279/_1__3D-printed__3DBenchy_by_Creative-Tools.com.JPG"},{"imageUrl":"https://images.cults3d.com/8cXf2KJU-VSAKb1ksnTNpkLJmXE=/516x516/filters:no_upscale()/https://fbi.cults3d.com/uploaders/133/illustration-file/1428782332-8151-4458/_2___3DBenchy__Side_view.png"},{"imageUrl":"https://images.cults3d.com/boHctLfUj7nuGsq4VKkZIV4hXtc=/516x516/filters:no_upscale()/https://fbi.cults3d.com/uploaders/133/illustration-file/1428782336-8151-2049/_3___3DBenchy__Curved_overhang.png"},{"imageUrl":"https://images.cults3d.com/HdTHHlECkxM5ANNhheoivtg90to=/516x516/filters:no_upscale()/https://fbi.cults3d.com/uploaders/133/illustration-file/1428782343-8151-3672/_4___3DBenchy__Default_view.png"},{"imageUrl":"https://images.cults3d.com/nRCPDDVGA7IPPMn-lA2U4BnpW50=/516x516/filters:no_upscale()/https://fbi.cults3d.com/uploaders/133/illustration-file/1428782348-8151-1904/_5___3DBenchy__Low-slope_surfaces.png"},{"imageUrl":"https://images.cults3d.com/gxOiAkwbe2HczyBbHx__T_NwOYE=/516x516/filters:no_upscale()/https://fbi.cults3d.com/uploaders/133/illustration-file/1428782339-8151-9522/_6___3DBenchy__Cut_view.png"},{"imageUrl":"https://images.cults3d.com/rTx0O9989lZxDYfG2ImLke1OzaM=/516x516/filters:no_upscale()/https://fbi.cults3d.com/uploaders/133/illustration-file/1428782344-8151-0575/_7___3DBenchy_movie_poster__3dbenchy.com_.jpg"}],"creator":{"nick":"CreativeTools","bio":"Creative
        Tools supplies software, hardware and training in all things 3D - such as
        3D modelling, animation, rendering, workstations, 3D scanners and 3D printers.\r\nWeb:
        http://creative-tools.com\r\nTwitter: https://twitter.com/CreativeTools","url":"https://cults3d.com/en/users/CreativeTools","imageUrl":"https://images.cults3d.com/UUTTixazzr68WqITVWeTPUdyRBY=/120x120/https://fbi.cults3d.com/uploads/user/avatar/133/Creative_Tools_-_Logotype_-_Color__800_x_800_pixels_.jpg"}}}}'
  recorded_at: Tue, 23 Sep 2025 15:39:27 GMT
recorded_with: VCR 6.3.1
