name: Docker Nightly

on:
  workflow_dispatch:
    inputs:
  schedule:
    - cron: "0 0 * * *"

env:
  IMAGE_NAME: manyfold

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: FranzDiebold/github-env-vars-action@v2

      - name: Check out code
        uses: actions/checkout@v4

      - name: Work out Docker tags
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=schedule,pattern=nightly
            type=semver,pattern={{version}}
      - name: Depot setup
        uses: depot/setup-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Build and push
        id: depot
        uses: depot/build-push-action@v1
        with:
          project: bsbhgkfhgc
          token: ${{ secrets.DEPOT_PROJECT_TOKEN }}
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          build-args: |
            GIT_REF=nightly
            GIT_SHA=${{ env.CI_SHA_SHORT }}
