<%= yield :page_header %>

<div class="row row-cols-md-2">
  <div class="col-md-3 row-cols-md-1">
    <%= yield :sidebar %>
  </div>
  <div class="col-md-9 order-md-first">
    <%= yield :items %>
  </div>
</div>

<% parent_layout "application" %>
