<%= yield :page_header %>

<div class="grid row-cols-md-2">
  <div class="g-col-md-9" id="item_list">
    <%= yield :items %>
  </div>
  <div class="g-col-md-3" id="sidebar">
    <%= yield :sidebar %>
  </div>
</div>

<% parent_layout "application" %>
