<td><%= icon("files", t(".title")) %></td>
<td><%= link_to problem.problematic.name, [problem.problematic.model, problem.problematic], class: "link-dark" %></td>
<td><%= t ".title" %></td>
<td><%= link_to "Open", [problem.problematic.model, problem.problematic], class: "btn btn-primary" %></td>
